body {
	font-size: 11px !important;
}

input {
	padding-top: 1px !important;
}
select {
	padding: 2px !important;
}

.filterTranslations {
    display: block;
    clear: both;
    overflow: hidden;
}

.filterTranslationsGroup {
    float: left;
    display: inline;
    overflow: hidden;
}

.filterTranslationsGroup .form-line {
    display: block;
    clear: both;
    overflow: hidden;
}

.filterTranslationsGroup .form-line .left {
    float: left;
    text-align: left;
    width: 150px;
    margin: 5px;
}

.filterTranslationsGroup .form-line .center {
    float: left;
    text-align: left;
    width: 210px;
}

.filterTranslationsGroup .form-line .center input {    
    margin: 5px;
}

.filterTranslationsGroup .form-line .right {
    float: left;
    text-align: left;
    width: 150px;
    margin: 5px;
}

.advancedGroup {
    float: right;
    display: inline;
    overflow: hidden;
}

.filterTranslations {
    display: block;
    clear: both;
    overflow: hidden;
}

.filterTranslationsGroup {
    float: left;
    display: inline;
    overflow: hidden;
}

.filterTranslationsGroup .form-line {
    display: block;
    clear: both;
    overflow: hidden;
}

.filterTranslationsGroup .form-line .left {
    float: left;
    text-align: left;
    width: 150px;
    margin: 5px;
}

.filterTranslationsGroup .form-line .center {
    float: left;
    text-align: left;
    width: 210px;
}

.filterTranslationsGroup .form-line .right {
    float: left;
    text-align: left;
    width: 150px;
    margin: 5px;
}

.advancedGroup {
    float: right;
    display: inline;
    overflow: hidden;
}

.resource-value{
    width: 200px;    
}
.resource-locale{
    width: 40px;
}
.error{
    color: red;
}
.none{
    display: none;
}

.activeLoad{
    position: absolute;
    top: 40%;
    left: 170px;
}

.portletBlock{
    position: relative;
}

.msw-table-container{
    min-height: 50px;
}
